body {
    font-family: 'Roboto', sans-serif;

    height: 100vh;
    overflow: hidden;
    margin: 0;
}

main {
    display: flex;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

    li {
        display: inline-block;
        align-items: center;
    }
}