$colorLight: #F6F7FB;
$colorWarning: #FFA62B;
$colorDark: #201E75;
$colorPrimary: #5c0099;
$colorPrimaryLight: #dabfff;
$colorAccent: #fcd72c;
$colorError: #ea96df;
$colorAlmostBlack: #333;
$colorSuccess: #82e1df;
$colorDarkGrey: #444;
$colorMediumGrey: #eee;
$colorLightGrey: #ccc;

$paddingLarge: 3rem;
$paddingMedium: 1.8rem;
$paddingSmall: 1rem;