@import '../base/_variables.css';
@import '../base/_mixins.css';

.flex-article {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;
    @mixin atMedium{
        margin: 0 6rem 0 6rem;
    }
    @mixin atLarge{
        margin: 0 8rem 0 8rem;

    }

    .subtitle {
        margin: 1rem 0 1rem 0;
    }

    .list {
        &__name {
            font-weight: 600;
        }

        &__def {
            margin-bottom: 1rem;
            margin-left: 1rem;
        }
    }
}