.cards-list {

    height: 100%;
    width: 100%;
    display: flex;

    flex-direction: column;

    @mixin atMedium {
        flex-direction: column;
    }

    @mixin atLarge {
        flex-direction: row;
    }

    &__card {
        position: relative;
        display: flex;
        flex: 1;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        transition: flex 0.5s ease-in-out;


        &:hover {
            flex: 2;
            @mixin atLarge {
                flex: 2.5;
            }
        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $colorAlmostBlack;
            opacity: 0.7;
        }

        &--left {
            background-position: right;
            .card {
                &__button:hover {
                    background-color: $colorWarning;
                    border-color: $colorWarning;

                }
            }
        }

        &--right {
            background-position: left;

            .card {
                &__button:hover {
                    background-color: $colorPrimary;
                    border-color: $colorPrimary;
                }
            }
        }

        .card {
            &__heading,
            &__description,
            &__button {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                color: white;
                white-space: nowrap;
            }

            &__image {
                .image {
                    &--large {
                        max-width: 100vw;
                    }
                }
            }

            &__heading {
                top: 25%;
                font-size: 1rem;

                @mixin atMedium {
                    font-size: 1.2rem;
                }

                @mixin atLarge {
                    font-size: 1.8rem;
                }
            }

            &__description {
                top: 40%
            }

            &__button {
                top: 60%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 1rem;
                font-weight: bold;
                text-transform: uppercase;
                text-decoration: none;
                border: white solid 0.2rem;
                padding: 1.5rem;
                width: 4rem;

                @mixin atMedium {
                    width: 9rem;
                }

                @mixin atLarge {
                    width: 10rem;
                }
            }
        }
    }
}