<h1>To build this page I used:</h1>
<div>
  <h2 class="subtitle">Webpack</h2>
  <p>
    Main purpose is to bundle JavaScript files for usage in a browser. It is
    also capable of transforming, bundling, or packaging just about any resource
    or asset - so I also used it to
    <u
      >load CSS files, EJS templates and plain HTML files with suitable
      loaders</u
    >
  </p>
  <h2 class="subtitle">JavaScript ES6</h2>
  <dl class="list">
    <dt class="list__name">Classes</dt>
    <dt class="list__name">Property descriptors present in objects</dt>
    <dt class="list__name">Arrow functions</dt>
    <dt class="list__name">Immutability</dt>
    <dd class="list__def">frozen objects</dd>
  </dl>

  <h2 class="subtitle">Axios</h2>
  Promise-based HTTP Client for node.js and the browser

  <h2 class="subtitle">EJS</h2>
  <p>
    Embedded JavaScript templates - templating language that lets generate HTML
    markup with plain JavaScript
  </p>

  <h2 class="subtitle">CSS</h2>
  <dl class="list">
    <dt class="list__name">PostCSS</dt>
    <dd class="list__def">
      Node.js package which transform all of CSS using JavaScript, thereby
      achieving much <b>faster</b> build times than other processors.
      <br />
      PostCSS plugins allows using variables, mixins, imports - the same way as
      in
      <b>Sass</b> CSS extension language
    </dd>
    <dt class="list__name">Autoprefixer</dt>
    <dd class="list__def">
      a PostCSS plugin which parses CSS and adds vendor prefixes
    </dd>
    <dt class="list__name">Normalize.css</dt>
    <dd class="list__def">
      Node.js package which makes
      <u>browsers render all elements more consistently</u>
      and in line with modern standards
    </dd>
    <dt class="list__name">Block Element Modifier methodology</dt>
    <dd class="list__def">
      BEM’s naming convention and independent blocks make code reusable and
      modular
    </dd>
    <dt class="list__name">Mobile First approach</dt>
    <dd class="list__def">
      layout was created in a way where
      <u>the default configuration is for narrow screen/mobile devices</u>, and
      layout features for wider viewports are then layered on top of that
      default helps achieve better performance
    </dd>
    <dt class="list__name">Responsive Images</dt>
    <dd class="list__def">
      the point of responsive images is loading
      <u>the smallest, most impactful resource</u>
    </dd>
    <dt class="list__name">Lazy loading of images</dt>
    <dd class="list__def">
      loading of images on a page - when those images are actually needed,
      instead of loading them up front
    </dd>
  </dl>
</div>
