<footer class="flex-footer container">
  <div class="flex-footer__column column">
    <h3 class="column__heading">Author</h3>
    <ul class="column__links">
      <li class="footer-link">Joanna Rudak</li>
    </ul>
  </div>
  <div class="flex-footer__column column">
    <h3 class="column__heading">Module Bundler</h3>
    <ul class="column__links">
      <li class="footer-link">Webpack 4.41.5</li>
    </ul>
  </div>
  <div class="flex-footer__column column">
    <h3 class="column__heading">Templating language</h3>
    <ul class="column__links">
      <li class="footer-link">EJS</li>
    </ul>
  </div>
  <div class="flex-footer__column column">
    <h3 class="column__heading">CSS</h3>
    <ul class="column__links">
      <li class="footer-link">PostCSS</li>
    </ul>
  </div>
</footer>
