<div class="loader"></div>
<h1 class="quiz-name"></h1>
<div class="card-container card-container--hidden">
  <div class="next-quiz__container">
    <button id="button__reset" class="button__reset button--reduce">
      reset
    </button>
    <button id="button__next-quiz" class="button__next-quiz button--reduce">
      next quiz
    </button>
  </div>

  <div id="card" class="card">
    <div class="card__side card__name">
      <div class="text-wrapper"></div>
    </div>
    <div class="card__side card__definition rotate">
      <div class="text-wrapper"></div>
    </div>
  </div>

  <div class="card-container__buttons">
    <button
      id="button__skip"
      class="button__skip button--reduce"
      title="I already know this"
    >
      skip
    </button>
    <button id="button__next" class="button__next button--reduce">next</button>
  </div>
</div>
