<h1>Quizes</h1>
<div class="list__buttons">
  <button class="btn-toggle-quizes button--reduce">
    <i class="fas fa-chevron-down"></i>
  </button>

  <button id="btn-new-quiz" class="btn-new-quiz button--reduce">
    <i class="fas fa-plus" aria-hidden="true"></i> New Quiz
  </button>
  <div>
    <div id="modal" class="modal">
      <i
        id="modal__btn-close"
        class="modal__btn-close fas fa-times"
        title="close"
      ></i>
      <div id="modal__body" class="modal__body"></div>
    </div>
  </div>
</div>
<div class="loader"></div>
